# Build results
bin/
obj/
*.user
*.rsuser
*.suo
*.cache
*.log
*.vspscc
*.vssscc

# Rider
.idea/
*.sln.iml

# Visual Studio Code
.vscode/

# ASP.NET / Blazor / Razor artifacts
*.db
*.db-shm
*.db-wal
Generated/

# .NET Core secrets and user settings
*.dotCover
secrets.json

# .NET CLI environment
.env
*.props
*.targets

# Logs

# OS-specific
.DS_Store
Thumbs.db

# NuGet
*.nupkg
packages/
.nuget/
project.lock.json
